config {

    // Location for all nf-test related files
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir ".nf-test"

    // Location of an optional nextflow.config file specific for executing tests
    configFile "tests/config/nextflow.config"

    // Profile to use for testing
    profile "docker"

}

