// README:
// Test data configuration for nf-modules
// Add shared test data files here that can be used by multiple modules

params {
    test_data {
        'proteomics' {
            'msspectra' {
                // Test RAW file from PRIDE archive for thermorawfileparser and other raw conversion modules
                ups1_50amol_r3 = "https://ftp.pride.ebi.ac.uk/pride/data/archive/2012/03/PXD000001/TMT_Erwinia_1uLSike_Top10HCD_isol2_45stepped_60min_01.raw"
            }
            'qc' {
                // Test data for pmultiqc module
                // General results directory for basic MultiQC testing
                results = "https://ftp.pride.ebi.ac.uk/pub/databases/pride/resources/proteomes/pmultiqc/example-projects/LFQ_PXD007683.zip"
                // DIANN results from pmultiqc example projects
                diann_results = "https://ftp.pride.ebi.ac.uk/pub/databases/pride/resources/proteomes/pmultiqc/example-projects/PXD063291.zip"
                // quantms results - using LFQ example as quantms results
                quantms_results = "https://ftp.pride.ebi.ac.uk/pub/databases/pride/resources/proteomes/pmultiqc/example-projects/LFQ_PXD007683.zip"
            }
        }
    }
}
