// README:
// Test data configuration for nf-modules
// Add shared test data files here that can be used by multiple modules

params {
    test_data {
        'proteomics' {
            'msspectra' {
                // Test RAW file from PRIDE archive for thermorawfileparser and other raw conversion modules
                ups1_50amol_r3 = "https://ftp.ebi.ac.uk/pride-archive/2015/12/PXD001819/UPS1_50amol_R3.raw"
            }
        }
    }
}
