// README:
// Test data configuration for nf-modules
// Add shared test data files here that can be used by multiple modules

params {
    test_data {
        'proteomics' {
            'msspectra' {
                // Test RAW file from PRIDE archive for thermorawfileparser and other raw conversion modules
                ups1_50amol_r3 = "https://ftp.pride.ebi.ac.uk/pride/data/archive/2012/03/PXD000001/TMT_Erwinia_1uLSike_Top10HCD_isol2_45stepped_60min_01.raw"
            }
            'onsite' {
                // Test data for onsite PTM localization module
                mzml = "https://raw.githubusercontent.com/weizhongchun/test-data/main/data/1.mzML"
                idxml = "https://raw.githubusercontent.com/weizhongchun/test-data/main/data/1_consensus_fdr_filter_pep.idXML"
            }
        }
    }
}
